In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv('final-crime.csv')

In [3]:
df.dropna(inplace=True)

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10642 entries, 0 to 10643
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   STATE/UT                10642 non-null  object
 1   DISTRICT                10642 non-null  object
 2   YEAR                    10642 non-null  float64
 3   MURDER                  10642 non-null  float64
 4   ATTEMPT TO MURDER       10642 non-null  float64
 5   RAPE                    10642 non-null  float64
 6   KIDNAPPING & ABDUCTION  10642 non-null  float64
 7   ROBBERY                 10642 non-null  float64
 8   VIOLENCE                10642 non-null  float64
 9   CHEATING                10642 non-null  float64
 10  CRIME ON WOMEN          10642 non-null  float64
 11  HUMAN TRAFFICKING       10642 non-null  float64
dtypes: float64(10), object(2)
memory usage: 1.1+ MB

In [6]:
df

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,RAPE,KIDNAPPING & ABDUCTION,ROBBERY,VIOLENCE,CHEATING,CRIME ON WOMEN,HUMAN TRAFFICKING
0,ANDHRA PRADESH,ADILABAD,2001.0,101.0,77.0,100.0,92.0,637.0,1248.0,121.0,374.0,0.0
1,ANDHRA PRADESH,ANANTAPUR,2001.0,151.0,126.0,46.0,106.0,939.0,1788.0,84.0,303.0,0.0
2,ANDHRA PRADESH,CHITTOOR,2001.0,101.0,59.0,54.0,118.0,1697.0,2286.0,251.0,395.0,0.0
3,ANDHRA PRADESH,CUDDAPAH,2001.0,80.0,54.0,40.0,50.0,448.0,983.0,51.0,238.0,0.0
4,ANDHRA PRADESH,EAST GODAVARI,2001.0,82.0,68.0,46.0,98.0,2504.0,1359.0,273.0,426.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10639,Delhi UT,Vigilance,2014.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10640,Delhi UT,West,2014.0,55.0,83.0,352.0,251.0,1615.0,257.0,87.0,2524.0,9404.0
10641,Lakshadweep,Lakshadweep,2014.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,20.0,15.0
10642,Puducherry,Karaikal,2014.0,6.0,1.0,3.0,3.0,2.0,5.0,1.0,37.0,33.0
10643,Puducherry,Puducherry,2014.0,19.0,17.0,8.0,7.0,20.0,12.0,6.0,91.0,391.0

In [7]:
df['STATE/UT'] = df['STATE/UT'].str.lower()
df['DISTRICT'] = df['DISTRICT'].str.lower()

In [8]:
le = LabelEncoder()
df["State_Label"] = le.fit_transform(df["STATE/UT"])
df["District_Label"] = le.fit_transform(df["DISTRICT"])


df = df.drop(columns=["STATE/UT", "DISTRICT"])

In [9]:
y=df[df.columns[0:10]]
x=df[df.columns[10:]]

In [10]:
x

       State_Label  District_Label
0                2               3
1                2              35
2                2             184
3                2             204
4                2             261
...            ...             ...
10639           11             925
10640           11             946
10641           20             530
10642           28             449
10643           28             695

[10642 rows x 2 columns]

In [11]:
y.drop('YEAR',axis=1,inplace=True)
y

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,MURDER,ATTEMPT TO MURDER,RAPE,KIDNAPPING & ABDUCTION,ROBBERY,VIOLENCE,CHEATING,CRIME ON WOMEN,HUMAN TRAFFICKING
0,101.0,77.0,100.0,92.0,637.0,1248.0,121.0,374.0,0.0
1,151.0,126.0,46.0,106.0,939.0,1788.0,84.0,303.0,0.0
2,101.0,59.0,54.0,118.0,1697.0,2286.0,251.0,395.0,0.0
3,80.0,54.0,40.0,50.0,448.0,983.0,51.0,238.0,0.0
4,82.0,68.0,46.0,98.0,2504.0,1359.0,273.0,426.0,0.0
...,...,...,...,...,...,...,...,...,...
10639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10640,55.0,83.0,352.0,251.0,1615.0,257.0,87.0,2524.0,9404.0
10641,0.0,0.0,1.0,1.0,0.0,1.0,0.0,20.0,15.0
10642,6.0,1.0,3.0,3.0,2.0,5.0,1.0,37.0,33.0
10643,19.0,17.0,8.0,7.0,20.0,12.0,6.0,91.0,391.0

In [ ]:
for i in range(y.shape[0]):
  sum=y.iloc[i].sum(axis=0)
  for j in range(y.shape[1]):
    val=y.iloc[i,j]/sum
    if(val>0.25):
      y.iloc[i,j]=1
    else:
      y.iloc[i,j]=0
  print(i)

In [12]:
y=pd.read_csv('crime-final.csv')

In [13]:
y

,Unnamed: 0,MURDER,ATTEMPT TO MURDER,RAPE,KIDNAPPING & ABDUCTION,ROBBERY,VIOLENCE,CHEATING,CRIME ON WOMEN,HUMAN TRAFFICKING
0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
10637,10639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10638,10640,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10639,10641,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
10640,10642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
10641,10643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [14]:
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.multiclass import OneVsRestClassifier
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import RidgeClassifier
from sklearn.metrics import f1_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline

In [ ]:
from keras.models import Sequential
from keras.layers import Activation, Dense

In [ ]:
n_inputs=x.shape[1]
n_outputs=y.shape[1]

In [ ]:
# define the model
model = Sequential()
model.add(Dense(20, input_dim=n_inputs, kernel_initializer='he_uniform', activation='relu'))
model.add(Dense(n_outputs, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam')

In [ ]:
model.fit(x, y, verbose=0, epochs=10)

In [15]:
from tensorflow import keras
model=keras.models.load_model("/content/statewise_model.h5")

In [18]:
evl=model.evaluate(x,y)

333/333 [==============================] - 1s 2ms/step - loss: -87908024.0000

In [19]:
temp=model.predict(x, verbose=0)

In [ ]:
temp[0]

array([1.        , 0.05645746, 0.00880389, 0.0041983 , 0.01106999,
       0.47355863, 0.39514682, 0.22984613, 0.40749836, 0.38872927],
      dtype=float32)

In [ ]:
temp[0]

array([1.        , 0.05645746, 0.00880389, 0.0041983 , 0.01106999,
       0.47355863, 0.39514682, 0.22984613, 0.40749836, 0.38872927],
      dtype=float32)

In [ ]:
for i in range(100):
  print(temp[i].sum())

In [ ]:
x

       State_Label  District_Label
0                2               3
1                2              31
2                2             280
3                2             301
4                2             431
...            ...             ...
10639           19            1566
10640           19            1593
10641           37             904
10642           54             820
10643           54            1174

[10642 rows x 2 columns]

In [ ]:
data=[['ANDHRA PRADESH','ADILABAD']]
tee = pd.DataFrame(data, columns=['STATE/UT', 'DISTRICT'])
tee

         STATE/UT  DISTRICT
0  ANDHRA PRADESH  ADILABAD

In [ ]:
tee

   State_Label  District_Label
0            0               0

In [ ]:
tee.iloc[0,0]=2
tee.iloc[0,1]=3

In [ ]:
tee

  STATE/UT DISTRICT
0        2        3

In [ ]:
tee["DISTRICT"] = tee["DISTRICT"].astype(str).astype(float)

In [ ]:
testt=model.predict(tee, verbose=0)

In [ ]:
testt

array([[1.0000000e+00, 1.9322393e-02, 7.1776292e-04, 3.9178587e-02,
        1.0384795e-02, 5.7658601e-01, 5.4038882e-01, 2.7559468e-01,
        3.5802418e-01, 2.9584128e-01]], dtype=float32)

In [ ]:
temp[0][3]

0.019039484

In [ ]:
model.save('statewise_model.h5')

In [ ]:
from google.colab import files
files.download("/content/statewise_model")

In [ ]:
!zip -r /content/statewise_model.zip /content/statewise_model

  adding: content/statewise_model/ (stored 0%)
  adding: content/statewise_model/saved_model.pb (deflated 87%)
  adding: content/statewise_model/assets/ (stored 0%)
  adding: content/statewise_model/variables/ (stored 0%)
  adding: content/statewise_model/variables/variables.data-00000-of-00001 (deflated 47%)
  adding: content/statewise_model/variables/variables.index (deflated 58%)
  adding: content/statewise_model/keras_metadata.pb (deflated 84%)

In [ ]:
from google.colab import files
files.download("/content/statewise_model.zip")

In [ ]:
ss=pd.read_csv('final-crime.csv')

In [ ]:
ss

,Unnamed: 0,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,RAPE,KIDNAPPING & ABDUCTION,ROBBERY,VIOLENCE,CHEATING,CRIME ON WOMEN,HUMAN TRAFFICKING
0,0,ANDHRA PRADESH,ADILABAD,2001.0,101.0,77.0,100.0,92.0,637.0,1248.0,121.0,374.0,0.0
1,1,ANDHRA PRADESH,ANANTAPUR,2001.0,151.0,126.0,46.0,106.0,939.0,1788.0,84.0,303.0,0.0
2,2,ANDHRA PRADESH,CHITTOOR,2001.0,101.0,59.0,54.0,118.0,1697.0,2286.0,251.0,395.0,0.0
3,3,ANDHRA PRADESH,CUDDAPAH,2001.0,80.0,54.0,40.0,50.0,448.0,983.0,51.0,238.0,0.0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001.0,82.0,68.0,46.0,98.0,2504.0,1359.0,273.0,426.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10639,10639,Delhi UT,Vigilance,2014.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10640,10640,Delhi UT,West,2014.0,55.0,83.0,352.0,251.0,1615.0,257.0,87.0,2524.0,9404.0
10641,10641,Lakshadweep,Lakshadweep,2014.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,20.0,15.0
10642,10642,Puducherry,Karaikal,2014.0,6.0,1.0,3.0,3.0,2.0,5.0,1.0,37.0,33.0
10643,10643,Puducherry,Puducherry,2014.0,19.0,17.0,8.0,7.0,20.0,12.0,6.0,91.0,391.0

In [ ]:
ss['STATE/UT'] = ss['STATE/UT'].str.lower()
ss['DISTRICT'] = ss['DISTRICT'].str.lower()

In [ ]:
ss.dropna(inplace=True)
ss1=ss[ss.columns[1:3]]

In [ ]:
ss1

             STATE/UT       DISTRICT
0      andhra pradesh       adilabad
1      andhra pradesh      anantapur
2      andhra pradesh       chittoor
3      andhra pradesh       cuddapah
4      andhra pradesh  east godavari
...               ...            ...
10639        delhi ut      vigilance
10640        delhi ut           west
10641     lakshadweep    lakshadweep
10642      puducherry       karaikal
10643      puducherry     puducherry

[10642 rows x 2 columns]

In [ ]:
x

       State_Label  District_Label
0                2               3
1                2              31
2                2             280
3                2             301
4                2             431
...            ...             ...
10639           19            1566
10640           19            1593
10641           37             904
10642           54             820
10643           54            1174

[10642 rows x 2 columns]

In [ ]:
dict = {k.lower(): v for k, v in state_dict.items()}

In [ ]:
dict

In [ ]:
dictionary={}

In [ ]:
dictionary[ss1.iloc[0,0]]=1;
dictionary

In [ ]:
len(ss1)
x.shape[0]

10642

In [ ]:
for i in range(x.shape[0]):
  for j in range(x.shape[1]):
    dictionary[ss1.iloc[i,j]]=x.iloc[i,j]

In [ ]:
print(dictionary)

{'andhra pradesh': 2, 'adilabad': 3, 'anantapur': 35, 'chittoor': 184, 'cuddapah': 204, 'east godavari': 261, 'guntakal rly.': 326, 'guntur': 327, 'hyderabad city': 359, 'karimnagar': 454, 'khammam': 469, 'krishna': 514, 'kurnool': 520, 'mahaboobnagar': 552, 'medak': 576, 'nalgonda': 623, 'nellore': 639, 'nizamabad': 643, 'prakasham': 693, 'ranga reddy': 737, 'secunderabad rly.': 781, 'srikakulam': 840, 'vijayawada': 927, 'vijayawada rly.': 930, 'visakha rural': 934, 'visakhapatnam': 935, 'vizianagaram': 936, 'warangal': 941, 'west godavari': 947, 'total': 887, 'arunachal pradesh': 3, 'changlang': 168, 'dibang valley': 249, 'kameng east': 435, 'kameng west': 436, 'lohit': 537, 'papum pare': 669, 'siang east': 798, 'siang upper': 799, 'siang west': 800, 'subansiri lower': 848, 'subansiri upper': 849, 'tawang': 862, 'tirap': 882, 'assam': 4, 'barpeta': 87, 'bongaigaon': 137, 'c.i.d.': 151, 'cachar': 152, 'darrang': 220, 'dhemaji': 244, 'dhubri': 247, 'dibrugarh': 250, 'g.r.p.': 284, 'goalpara': 311, 'golaghat': 313, 'guwahati city': 331, 'hailakandi': 333, 'jorhat': 424, 'kamrup': 437, 'karbi anglong': 451, 'karimganj': 453, 'kokrajhar': 493, 'lakhimpur': 528, 'morigaon': 590, 'n.c.hills': 610, 'nagaon': 613, 'nalbari': 622, 'r.p.o.': 707, 'sibsagar': 801, 'sonitpur': 827, 'tinsukia': 881, 'bihar': 5, 'araria': 42, 'arwal': 45, 'aurangabad': 50, 'bagaha': 58, 'banka': 77, 'begusarai': 96, 'bettiah': 106, 'bhabhua': 108, 'bhagalpur': 110, 'bhojpur': 120, 'buxar': 148, 'darbhanga': 218, 'gaya': 306, 'gopalganj': 317, 'jamalpur rly.': 398, 'jamui': 405, 'jehanabad': 409, 'katihar': 460, 'katihar rly.': 462, 'khagaria': 468, 'kishanganj': 488, 'lakhisarai': 529, 'madhepura': 545, 'madhubani': 546, 'motihari': 591, 'munger': 599, 'muzaffarpur': 602, 'muzaffarpur rly.': 604, 'nalanda': 621, 'naugachia': 632, 'nawadah': 635, 'patna': 679, 'patna rly.': 681, 'purnea': 705, 'rohtas': 746, 'saharsa': 755, 'samastipur': 762, 'saran': 770, 'sheikhpura': 790, 'sheohar': 791, 'sitamarhi': 817, 'siwan': 820, 'supaul': 853, 'vaishali': 920, 'chhattisgarh': 7, 'balrampur': 71, 'bilaspur': 130, 'bizapur': 133, 'dantewara': 217, 'dhamtari': 235, 'durg': 259, 'grp raipur': 320, 'jagdalpur': 377, 'janjgir': 406, 'jashpur': 407, 'kanker': 441, 'kawardha': 465, 'korba': 504, 'koriya': 505, 'mahasamund': 554, 'raigarh': 711, 'raipur': 720, 'rajnandgaon': 727, 'sarguja': 771, 'goa': 12, 'north goa': 648, 'south goa': 832, 'gujarat': 13, 'ahmedabad commr.': 7, 'ahmedabad rural': 8, 'ahwa-dang': 10, 'amreli': 30, 'anand': 34, 'bharuch': 113, 'bhavnagar': 115, 'dahod': 210, 'gandhinagar': 294, 'himatnagar': 346, 'jamnagar': 400, 'junagadh': 425, 'kheda north': 481, 'kutch': 523, 'mehsana': 578, 'narmada': 628, 'navsari': 634, 'palanpur': 660, 'panchmahal': 665, 'patan': 675, 'porbandar': 690, 'rajkot commr.': 725, 'rajkot rural': 726, 'surat commr.': 856, 'surat rural': 857, 'surendranagar': 858, 'vadodara commr.': 918, 'vadodara rural': 919, 'valsad': 921, 'w.rly': 937, 'haryana': 14, 'ambala': 21, 'bhiwani': 119, 'faridabad': 271, 'fatehabad': 273, 'grp': 319, 'gurgaon': 330, 'hissar': 348, 'jhajjar': 411, 'jind': 418, 'kaithal': 432, 'karnal': 455, 'kurukshetra': 521, 'mahendragarh': 556, 'panchkula': 664, 'panipat': 667, 'rewari': 743, 'rohtak': 745, 'sirsa': 816, 'sonipat': 826, 'yamunanagar': 950, 'himachal pradesh': 15, 'chamba': 160, 'hamirpur': 334, 'kangra': 440, 'kinnaur': 486, 'kullu': 518, 'lahaul-spiti': 527, 'mandi': 566, 'shimla': 793, 'sirmaur': 814, 'solan': 821, 'una': 909, 'jammu & kashmir': 16, 'anantnag': 36, 'awantipora': 53, 'baramulla': 82, 'border': 138, 'budgam': 142, 'crime jammu': 199, 'crime srinagar': 201, 'doda': 256, 'ganderbal': 293, 'jammu': 399, 'kargil': 452, 'kathua': 459, 'kulgam': 517, 'kupwara': 519, 'leh': 535, 'poonch': 689, 'pulwama': 697, 'railways': 715, 'rajouri': 728, 'ramban': 732, 'reasi': 741, 'srinagar': 841, 'udhampur': 902, 'jharkhand': 17, 'bokaro': 135, 'chaibasa': 158, 'chatra': 169, 'deoghar': 230, 'dhanbad': 236, 'dhanbad rly.': 238, 'dumka': 257, 'garhwa': 297, 'giridih': 310, 'godda': 312, 'gumla': 323, 'hazaribagh': 345, 'jamshedpur': 401, 'jamshedpur rly.': 403, 'jamtara': 404, 'koderma': 491, 'latehar': 532, 'lohardagga': 536, 'pakur': 657, 'palamu': 659, 'ranchi': 736, 'sahebganj': 756, 'saraikela': 769, 'simdega': 810, 'karnataka': 18, 'bagalkot': 59, 'bangalore commr.': 75, 'bangalore rural': 76, 'belgaum': 99, 'bellary': 100, 'bidar': 124, 'bijapur': 127, 'chamarajnagar': 159, 'chickmagalur': 177, 'chitradurga': 181, 'dakshin kannada': 212, 'davanagere': 224, 'dharwad commr.': 242, 'dharwad rural': 243, 'gadag': 290, 'gulbarga': 322, 'hassan': 342, 'haveri': 344, 'k.g.f.': 426, 'kodagu': 490, 'kolar': 494, 'koppal': 502, 'mandya': 569, 'mysore commr.': 605, 'mysore rural': 606, 'raichur': 709, 'shimoga': 794, 'tumkur': 899, 'udupi': 904, 'uttar kannada': 914, 'kerala': 19, 'alapuzha': 14, 'cbcid': 155, 'ernakulam': 264, 'idukki': 362, 'kannur': 443, 'kasargod': 457, 'kollam': 498, 'kottayam': 509, 'kozhikode': 511, 'malappuram': 561, 'palakkad': 658, 'pathanamthitta': 676, 'thrissur': 877, 'trivandrum': 894, 'wayanadu': 945, 'madhya pradesh': 21, 'balaghat': 64, 'barwani': 89, 'betul': 107, 'bhind': 118, 'bhopal': 121, 'bhopal rly.': 123, 'chhatarpur': 174, 'chhindwara': 175, 'damoh': 215, 'datiya': 222, 'dewas': 233, 'dhar': 239, 'dindori': 253, 'guna': 324, 'gwalior': 332, 'harda': 339, 'hoshangabad': 350, 'indore': 368, 'indore rly.': 370, 'jabalpur': 373, 'jabalpur rly.': 375, 'jhabua': 410, 'katni': 463, 'khandwa': 470, 'khargon': 474, 'mandla': 567, 'mandsaur': 568, 'morena': 589, 'narsinghpur': 629, 'neemuch': 638, 'panna': 668, 'raisen': 721, 'rajgarh': 723, 'ratlam': 738, 'rewa': 742, 'sagar': 753, 'satna': 775, 'seoni': 784, 'shahdol': 786, 'shajapur': 788, 'sheopur': 792, 'shivpuri': 795, 'sidhi': 803, 'sihore': 804, 'tikamgarh': 880, 'ujjain': 905, 'umariya': 908, 'vidisha': 924, 'maharashtra': 22, 'ahmednagar': 9, 'akola': 13, 'amravati commr.': 28, 'amravati rural': 29, 'aurangabad commr.': 51, 'aurangabad rural': 52, 'beed': 95, 'bhandara': 111, 'buldhana': 144, 'chandrapur': 167, 'dhule': 248, 'gadchiroli': 291, 'gondia': 316, 'hingoli': 347, 'jalgaon': 393, 'jalna': 394, 'kolhapur': 496, 'latur': 533, 'mumbai': 593, 'mumbai rly.': 596, 'nagpur commr.': 616, 'nagpur rly.': 618, 'nagpur rural': 619, 'nanded': 625, 'nandurbar': 626, 'nasik commr.': 630, 'nasik rural': 631, 'navi mumbai': 633, 'osmanabad': 654, 'parbhani': 672, 'pune commr.': 698, 'pune rly.': 700, 'pune rural': 701, 'raigad': 710, 'ratnagiri': 739, 'sangli': 766, 'satara': 774, 'sindhudurg': 811, 'solapur commr.': 822, 'solapur rural': 823, 'thane commr.': 864, 'thane rural': 865, 'wardha': 943, 'washim': 944, 'yavatmal': 951, 'manipur': 23, 'bishnupur': 132, 'chandel': 164, 'churachandpur': 186, 'imphal(east)': 366, 'imphal(west)': 367, 'senapati': 783, 'tamenglong': 859, 'thoubal': 876, 'ukhrul': 906, 'meghalaya': 24, 'garo hills east': 299, 'garo hills south': 301, 'garo hills west': 304, 'jaintia hills': 379, 'khasi hills east': 476, 'khasi hills west': 479, 'ri-bhoi': 744, 'mizoram': 25, 'aizawl': 11, 'champhai': 163, 'kolasib': 495, 'lawngtlai': 534, 'lunglei': 544, 'mamit': 565, 'saiha': 757, 'serchhip': 785, 'nagaland': 26, 'dimapur': 251, 'kiphire': 487, 'kohima': 492, 'mokokchung': 585, 'mon': 586, 'peren': 684, 'phek': 685, 'tuensang': 897, 'wokha': 948, 'zunheboto': 952, 'odisha': 27, 'angul': 38, 'balasore': 65, 'baragarh': 81, 'berhampur': 105, 'bhadrak': 109, 'bolangir': 136, 'boudh': 141, 'cuttack': 205, 'deogarh': 229, 'dhenkanal': 245, 'gajapati': 292, 'ganjam': 296, 'jagatsinghpur': 376, 'jajpur': 389, 'jharsuguda': 416, 'kalahandi': 434, 'kandhamal': 439, 'kendrapara': 466, 'keonjhar': 467, 'khurda': 485, 'koraput': 503, 'malkangir': 563, 'mayurbhanj': 575, 'nayagarh': 637, 'nowrangpur': 652, 'nuapada': 653, 'puri': 704, 'rayagada': 740, 'rourkela': 748, 'sambalpur': 764, 'sonepur': 825, 'srp(cuttack)': 844, 'srp(rourkela)': 845, 'sundargarh': 852, 'punjab': 29, 'amritsar': 31, 'barnala': 86, 'batala': 92, 'bhatinda': 114, 'faridkot': 272, 'fatehgarh sahib': 275, 'ferozepur': 278, 'g.r.p': 283, 'gurdaspur': 329, 'hoshiarpur': 351, 'jagraon': 378, 'jalandhar': 390, 'kapurthala': 448, 'khanna': 471, 'ludhiana': 542, 'majitha': 560, 'mansa': 572, 'moga': 584, 'muktsar': 592, 'nawan shahr': 636, 'patiala': 678, 'ropar': 747, 'sangrur': 767, 'tarn taran': 861, 'rajasthan': 30, 'ajmer': 12, 'alwar': 20, 'banswara': 79, 'baran': 83, 'barmer': 85, 'bharatpur': 112, 'bhilwara': 116, 'bikaner': 129, 'bundi': 145, 'chittorgarh': 185, 'churu': 187, 'dausa': 223, 'dholpur': 246, 'dungarpur': 258, 'ganganagar': 295, 'hanumangarh': 337, 'jaipur': 382, 'jaisalmer': 388, 'jalore': 395, 'jhalawar': 412, 'jhunjhunu': 417, 'jodhpur': 419, 'karauli': 450, 'kota': 506, 'nagaur': 615, 'pali': 662, 'rajsamand': 729, 'sawai madhopur': 776, 'sikar': 805, 'sirohi': 815, 'tonk': 886, 'udaipur': 900, 'sikkim': 31, 'east': 260, 'north': 644, 'south': 829, 'west': 946, 'tamil nadu': 32, 'ariyalur': 43, 'chengai': 170, 'chennai': 171, 'chennai rly.': 172, 'coimbatore rural': 192, 'coimbatore urban': 193, 'cuddalore': 203, 'dharmapuri': 240, 'dindigul': 252, 'erode': 267, 'kanchipuram': 438, 'kanyakumari': 447, 'karur': 456, 'madurai rural': 549, 'madurai urban': 550, 'nagapattinam': 614, 'namakkal': 624, 'nilgiris': 642, 'perambalur': 683, 'pudukottai': 696, 'ramnathapuram': 734, 'salem rural': 760, 'salem urban': 761, 'sivagangai': 819, 'thanjavur': 866, 'theni': 867, 'thirunelveli rural': 870, 'thirunelveli urban': 871, 'thiruvallur': 872, 'thiruvannamalai': 873, 'thiruvarur': 874, 'thoothugudi': 875, 'trichy rly.': 891, 'trichy rural': 892, 'trichy urban': 893, 'vellore': 923, 'villupuram': 931, 'virudhunagar': 933, 'tripura': 34, 'dhalai': 234, 'uttar pradesh': 35, 'agra': 5, 'aligarh': 15, 'allahabad': 18, 'ambedkar nagar': 26, 'auraiya': 49, 'azamgarh': 54, 'badaun': 55, 'baghpat': 61, 'bahraich': 62, 'ballia': 67, 'banda': 73, 'barabanki': 80, 'bareilly': 84, 'basti': 91, 'bijnor': 128, 'bulandshahar': 143, 'chandoli': 166, 'chitrakoot dham': 183, 'deoria': 231, 'etah': 268, 'etawah': 269, 'faizabad': 270, 'fatehgarh': 274, 'fatehpur': 276, 'firozabad': 280, 'gautambudh nagar': 305, 'ghaziabad': 307, 'ghazipur': 308, 'gonda': 315, 'gorakhpur': 318, 'hardoi': 340, 'hathras': 343, 'j.p.nagar': 372, 'jalaun': 392, 'jaunpur': 408, 'jhansi': 413, 'kannauj': 442, 'kanpur dehat': 444, 'kanpur nagar': 445, 'kaushambi': 464, 'khiri': 482, 'kushi nagar': 522, 'lalitpur': 531, 'lucknow': 541, 'maharajganj': 553, 'mahoba': 558, 'mainpuri': 559, 'mathura': 573, 'mau': 574, 'meerut': 577, 'mirzapur': 583, 'moradabad': 587, 'muzaffarnagar': 601, 'pilibhit': 686, 'pratapgarh': 694, 'raibareilly': 708, 'rampur': 735, 'saharanpur': 754, 'sant kabirnagar': 768, 'shahjahanpur': 787, 'shrawasti': 797, 'sidharthnagar': 802, 'sitapur': 818, 'sonbhadra': 824, 'st.ravidasnagar': 846, 'sultanpur': 851, 'unnao': 911, 'varanasi': 922, 'uttarakhand': 36, 'almora': 19, 'bageshwar': 60, 'chamoli': 161, 'champawat': 162, 'dehradun': 227, 'haridwar': 341, 'nainital': 620, 'pauri garhwal': 682, 'pithoragarh': 687, 'rudra prayag': 749, 'tehri garhwal': 863, 'udhamsingh nagar': 903, 'uttarkashi': 916, 'west bengal': 37, '24 parganas north': 0, '24 parganas south': 1, 'asansol': 46, 'bankura': 78, 'birbhum': 131, 'burdwan': 146, 'coochbehar': 194, 'dakshin dinajpur': 211, 'darjeeling': 219, 'hooghly': 349, 'howrah': 352, 'howrah city': 353, 'howrah g.r.p.': 355, 'jalpaiguri': 396, 'kolkata': 497, 'malda': 562, 'midnapur': 582, 'murshidabad': 600, 'nadia': 612, 'purulia': 706, 'sealdah g.r.p.': 779, 'siliguri g.r.p.': 807, 'uttar dinajpur': 913, 'a & n islands': 0, 'andaman': 37, 'nicobar': 641, 'chandigarh': 165, 'd & n haveli': 8, 'd and n haveli': 208, 'daman & diu': 10, 'daman': 214, 'diu': 255, 'delhi ut': 11, 'central': 157, 'delhi ut total': 228, 'g.r.p.(rly)': 287, 'i.g.i. airport': 361, 'new delhi': 640, 'north east': 647, 'north west': 649, 's.t.f.': 751, 'south west': 833, 'lakshadweep': 530, 'puducherry': 695, 'pondicherry': 688, 'kabirdham': 429, 'handwara': 336, 'kharagpur g.r.p.': 473, 'paschim midnapur': 674, 'purab midnapur': 703, 'spl cell': 836, 'cyberabad': 207, 'k/kumey': 428, 'upper dibang valley': 912, 'narayanpur': 627, 'ernakulam commr.': 265, 'ernakulam rural': 266, 'kozhikode commr.': 512, 'kozhikode rural': 513, 'trivandrum commr.': 895, 'trivandrum rural': 896, 'anuppur': 41, 'ashok nagar': 48, 'burhanpur': 147, 'krishnagiri': 515, 'baska': 90, 'chirang': 180, 'udalguri': 901, 'surajpur': 854, 'mewat': 581, 'ferozpur': 279, 'viluppuram': 932, 'igi airport': 363, 'north-east': 650, 'north-west': 651, 'south-west': 835, 'vijayawada city': 928, 'palwal': 663, 'border district': 139, 'mumbai commr.': 594, 'imphal east': 364, 'imphal west': 365, 'sas ngr': 773, 'jaipur east': 383, 'jaipur north': 384, 'jaipur rural': 385, 'jaipur south': 386, 'jodhpur city': 420, 'jodhpur rural': 422, 'kota city': 507, 'kota rural': 508, 'grp(rly)': 321, 'stf': 847, 'karaikal': 449, 'khunti': 484, 'ramgarh': 733, 'longleng': 539, 'amritsar rural': 32, 'a and n islands': 2, 'outer': 656, 'tapi': 860, 'bandipora': 74, 'kishtwar': 489, 'samba': 763, 'shopian': 796, 'cbpura': 156, 'ramanagar': 731, 'alirajpur': 17, 'singrauli': 812, 'cid': 188, 'dcp bbsr': 225, 'dcp ctc': 226, 'ludhiana rural': 543, 'sbs nagar': 777, 'chennaisuburban': 173, 'kanshiram nagar': 446, 'caw': 154, 'crime branch': 198, 'eow': 263, 'south-east': 834, 'anjaw': 39, 'baddipolicedist': 57, 'railways kmr': 719, 'tiruppur': 884, 'guntur urban': 328, 'rajahmundry': 722, 'tirupathi urban': 883, 'warangal urban': 942, 'rural': 750, 'cid crime': 189, 'crime kashmir': 200, 'sopore': 828, 'yadgiri': 949, 'cp amritsar': 195, 'cp jalandhar': 196, 'cp ludhiana': 197, 'jalandhar rural': 391, 'g.r.p. ajmer': 285, 'g.r.p. jodhpur': 286, 'csm nagar': 202, 'ramabai nagar': 730, 'gariyaband': 298, 'kutch (east(g))': 524, 'kutch (west-bhuj)': 525, 'w.rly ahmedabad': 939, 'w.rly vadodara': 940, 'railways jammu': 716, 'railways kashmir': 717, 'mangalore city': 570, 'kollam commr.': 499, 'kollam rural': 500, 'thrissur commr.': 878, 'thrissur rural': 879, 'fazilka': 277, 'pathankot': 677, 'g.r.p.ajmer': 288, 'g.r.p.jodhpur': 289, 'jaipur west': 387, 'bhim nagar': 117, 'panchshil nagar': 666, 'prabuddh nagar': 692, 'baksa': 63, 'bieo': 126, 'hamren': 335, 'balod': 68, 'baloda bazar': 69, 'bemetara': 101, 'kondagaon': 501, 'mungeli': 598, 'sukma': 850, 'ambala rural': 24, 'ambala urban': 25, 'railways katra': 718, 'jodhpur east': 421, 'jodhpur west': 423, 'gomati': 314, 'khowai': 483, 'sipahijala': 813, 'unakoti': 910, 'bdn cp': 94, 'bkp cp': 134, 'jhargram': 414, 'siliguri_pc': 809, 'car': 153, 'zz total': 953, 'longding': 538, 'i&p haryana': 360, 'agar': 4, 'garo hills north': 300, 'garo hills south w.': 302, 'jaintia hills east': 380, 'jaintia hills west': 381, 'khasi hills south w.': 477, 'spl narcotic': 837, 'traffic ps': 888, 'discom': 254, 'amethi': 27, 'amroha': 33, 'hapur': 338, 'kasganj': 458, 'sambhal': 765, 'shamli': 789, 'a&n islands': 1, 'd&n haveli': 209, 'metro rail': 580, 'guntakal railway': 325, 'vijayawada railway': 929, 'kukung kumey': 516, 'lower dibang valley': 540, 'papum pare city': 670, 'papum pare rural': 671, 'g. r. p.': 281, 'n. c. hills': 609, 'jamalpur railway': 397, 'katihar railway': 461, 'muzaffarpur railway': 603, 'patna railway': 680, 'economic offences unit': 262, 'anti terrorist squad': 40, 'balodbazar': 70, 'bemetra': 102, 'g. r. p. raipur': 282, 'mungali': 597, 'c. i. d.': 149, 'ahmedabad city': 6, 'arvalli': 44, 'banaskantha': 72, 'botad': 140, 'chhotaudepur': 176, 'c. i. d. crime': 150, 'dang': 216, 'devbhumi dwarka': 232, 'gir somnath': 309, 'kachchh east(g)': 430, 'kachchh west(b)': 431, 'kheda': 480, 'mahisagar': 557, 'morbi': 588, 'rajkot city': 724, 'sabarkantha': 752, 'surat city': 855, 'vadodara city': 917, 'w.rly  ahmedabad': 938, 'ambala (rural)': 22, 'ambala (urban)': 23, 'mahendergarh': 555, 'irrigation & power': 371, 'baddi': 56, 'lahaul & spiti': 526, 'dhanbad railway': 237, 'jamshedpur railway': 402, 'bengaluru city': 103, 'bengaluru district': 104, 'belagavi district': 98, 'ballari': 66, 'vijayapura': 926, 'chikkaballapura': 178, 'chikkamagaluru': 179, 'dakshina kannada': 213, 'dharwad': 241, 'kalaburgi': 433, 'hubballi dharwad city': 358, 'mangaluru city': 571, 'mysuru city': 607, 'mysuru district': 608, 'k.railways': 427, 'tumakuru': 898, 'uttara kannada': 915, 'belagavi city': 97, 'bhopal railway': 122, 'datia': 221, 'indore railway': 369, 'jabalpur railway': 374, 'khargone': 475, 'sehore': 782, 'umaria': 907, 'cyber cell': 206, 'mumbai railway': 595, 'nagpur railway': 617, 'palghar': 661, 'pune railway': 699, 'garo hills south west': 303, 'khasi hills south west': 478, 'spl traffic': 838, 'malkangiri': 564, 'nabarangpur': 611, 'srp (cuttack)': 842, 'srp (rourkela)': 843, 'bathinda': 93, 'sas nagar': 772, 'praapgarh': 691, 'coimbatore': 190, 'coimbatore city': 191, 'madurai': 547, 'madurai city': 548, 'railway chennai': 713, 'railway trichy': 714, 'salem': 758, 'salem city': 759, 'thirunelveli': 868, 'thirunelveli city': 869, 'tiruppur city': 885, 'trichy': 889, 'trichy city': 890, 'other units': 655, 'telangana': 33, 'mahaboob nagar': 551, 'secunderabad railway': 780, 'kowai': 510, 'chitrakoot': 182, 'north 24 parganas': 646, 'south 24 parganas': 830, 'alipurduar': 16, 'asansol-durgapur pc': 47, 'barrackpur pc': 88, 'bidhannagar pc': 125, 'howrah g. r. p.': 354, 'howrah pc': 356, 'howrah rural': 357, 'jhargram police district': 415, 'kharagpur g. r. p.': 472, 'paschim medinipur': 673, 'purab medinipur': 702, 'sealdah g. r. p.': 778, 'siliguri g. r. p.': 806, 'siliguri pc': 808, 'south andaman': 831, 'north & middle andaman': 645, 'metro': 579, 'railway': 712, 'spuwac': 839, 'vigilance': 925}

In [ ]:
import joblib
loaded_model = joblib.load('finalized_model_statewise.sav')
crime_list={'MURDER': 0,'ATTEMPT TO MURDER': 1,'RAPE': 2, 'KIDNAPPING': 3, 'ROBBERY':4,'VIOLENCE':5,'CHEATING':6,'CRIME ON WOMEN': 7, 'HUMAN TRAFFICKING': 8}
data=[['ANDHRA PRADESH','ADILABAD']]
test = pd.DataFrame(data, columns=['State_Label', 'District_Label'])
test['State_Label'] = test['State_Label'].str.lower()
test['District_Label'] = test['District_Label'].str.lower()

if not test.iloc[0,0] in dictionary:
  print('0')
else:
  test.iloc[0,0]=dictionary[test.iloc[0][0]]

if not test.iloc[0,1] in dictionary:
  print('0')
else:
  test.iloc[0,1]=dictionary[test.iloc[0][1]]
test = test.apply(lambda col:pd.to_numeric(col, errors='coerce'))
ans=loaded_model.predict(test,verbose=0)
print(ans[0][crime_list['MURDER']])

0.29932094

In [ ]:
tee.iloc[0,0]=state_dict[tee.iloc[0][0]]
tee.iloc[0,1]=state_dict[tee.iloc[0][1]]

In [ ]:
tee = tee.apply(lambda col:pd.to_numeric(col, errors='coerce'))

In [ ]:
tee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State_Label     1 non-null      int64
 1   District_Label  1 non-null      int64
dtypes: int64(2)
memory usage: 144.0 bytes

In [ ]:
out=model.predict(tee, verbose=0)

In [ ]:
out

array([[2.5117224e-02, 2.3384851e-05, 1.0034964e-05, 1.9039478e-02,
        7.5996292e-01, 5.2506387e-01, 5.3663429e-02, 4.8663545e-02,
        2.3770610e-02]], dtype=float32)

In [ ]:
arr = numpy.array(state_dict)